@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Karla", sans-serif;
}
:root {
  --dark-violet: hsl(256, 26%, 20%);
  --grayish: hsl(216, 30%, 68%);
  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%);
}
h1,
h2,
h3 {
  font-family: "DM Serif Display", serif;
}
h1,
h2 {
  font-size: 4rem;
  letter-spacing: 2px;
  line-height: 1;
  position: relative;
  margin: 0;
  padding-top: 50px;
}
h3 {
  font-size: 2em;
}

p {
  opacity: 0.8;
  line-height: 1.7;
}

.line-top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 1px;
  background-color: var(--very-light-gray);
}
.line-violet::before {
  background-color: var(--dark-violet);
}

.btn {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid var(--very-light-gray);
  padding: 10px 25px;
  text-transform: uppercase;
  color: var(--very-light-gray);
  letter-spacing: 2px;
  display: inline-block;
}
.btn-reverse {
  border-color: var(--dark-violet);
  color: var(--dark-violet);
}
.container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex > div {
  flex: 1;
}
.align-start {
  align-items: flex-start;
}
nav {
  /* padding: 20px 0; */
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 100;
}

nav .hamburger {
  display: none;
}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
}
nav li {
  margin-left: 30px;
}
nav li a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--dark-grayish-violet);
}

header {
  background-color: var(--dark-violet);
  color: var(--very-light-gray);
  padding: 50px 0;
  position: relative;
  margin-bottom: 250px;
}
header * {
  z-index: 1;
}
header::after {
  content: "";
  background-image: url(images/bg-pattern-intro-right-desktop.svg);
  position: absolute;
  background-repeat: no-repeat;
  top: 0;
  right: 0;
  background-position: top right;
  height: 100%;
  width: 50%;
  z-index: 2;
}
header::before {
  content: "";
  background-image: url(images/bg-pattern-intro-left-desktop.svg);
  position: absolute;
  bottom: -50%;
  left: 0;
  background-position: bottom left;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  z-index: 0;
}

.header-img {
  margin-bottom: -250px;
  max-width: 100%;
}

.tile {
  margin-top: 80px;
}
.bg-violet {
  background-color: var(--dark-violet);
  padding: 70px;
  margin: 60px auto;
  background-image: url(images/bg-pattern-how-we-work-desktop.svg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 50% 100%;
}

.bg-violet h2 {
  color: var(--very-light-gray);
  padding: 0;
  width: 60%;
  font-size: 3em;
}

footer {
  background-color: var(--very-light-gray);
  padding: 60px 0 30px;
  /* position: relative; */
  background-image: url(images/bg-pattern-footer-desktop.svg);
  background-position: top left;
  background-repeat: no-repeat;
}
footer h4 {
  color: var(--dark-grayish-violet);
  text-transform: uppercase;
}
footer ul {
  padding: 0;
  list-style-type: none;
}
footer ul.flex li:not(:first-child) {
  margin-left: 20px;
}
footer li {
  margin-bottom: 15px;
}
footer li a {
  color: var(--dark-violet);
  text-decoration: none;
  text-transform: uppercase;
}
.border-bottom {
  border-bottom: 1px solid #eee;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  body {
    text-align: center;
  }
  .flex {
    flex-direction: column;
  }
  .reverse-mobile {
    flex-direction: column-reverse;
  }
  nav {
    padding: 10px 0;
  }
  nav .flex {
    flex-direction: row;
  }
  nav .img-wrapper {
    text-align: left;
  }

  nav ul {
    display: none;
  }
  nav ul.show {
    display: flex;
    flex-direction: column;
    width: 100vw;
    position: fixed;
    top: 55px;
    left: 0;
    background-color: var(--very-dark-violet);
    height: calc(100vh - 55px);
    z-index: 100;
    margin: 0;
    padding-top: 30px;
    /* background-image: url(images/bg-pattern-mobile-nav.svg);
  background-repeat: no-repeat; */
  }
  nav ul li {
    margin: 20px 0;
  }
  nav ul a {
    color: var(--very-light-gray);
  }
  .btn-reverse {
    border-color: var(--very-light-gray);
    color: var(--very-light-gray);
  }

  nav .hamburger {
    display: flex;
    background-color: transparent;
    cursor: pointer;
    border: 0;
  }

  nav .hamburger:focus {
    outline: none;
  }
  nav .hamburger .close {
    display: none;
  }
  nav .hamburger.show .open {
    display: none;
  }
  nav .hamburger.show .close {
    display: block;
  }

  header {
    /* padding-top: 0; */
    margin: 50px 0;
    /* margin-bottom: 50px; */
  }
  header::before,
  header::after {
    display: none;
  }

  .header-img {
    display: inline-block;
    margin-left: -20px;
    margin-bottom: -10px;
    max-width: calc(100% + 40px);
  }
  .line-top::before {
    left: 50%;
    transform: translateX(-50%);
  }
  .bg-violet {
    background-image: url(images/bg-pattern-how-we-work-mobile.svg);
  }
  .bg-violet h2 {
    width: 100%;
    margin-bottom: 20px;
  }

  footer {
    background-image: url(images/bg-pattern-footer-mobile.svg);
    background-size: 100% auto;
    background-position: top center;
  }
  footer ul.flex {
    flex-direction: row;
  }
  footer .flex div {
    width: 100%;
  }
}
